@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&family=Raleway&display=swap');

.dark-mode {
  background: url(../images/darkpattern.png);
  color: #17d4fe;

  .dark-mode-switch {
    .switch {
      .slider.round {
        &:before {
          background-color: #000000;
        }
      }
    }
  }

  .index-wrapper {
    // background: linear-gradient(180deg, #ffffff, #d4f2fd);

    .controls {
      button {
        color: #17d4fe;
        border-color: #17d4fe;
      }
    }
  }
}

body {
  // animation files activated in heroku
  margin: 0 auto;
  color: #000000;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: animatedBackground 5s linear infinite;
  animation: animatedBackground 5s linear infinite;
  background: url(../images/pattern.png);

  @-webkit-keyframes animatedBackground {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -75px -75px;
    }
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -75px -75px;
    }
  }

  .dark-mode-switch {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;

    .switch {
      display: inline-block;
      width: 60px;
      height: 35px;
      position: absolute;
      top: 30;
      outline: none;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      // input
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #17d4fe;
        -webkit-transition: 0.6s;
        transition: 0.6s;

        // circle inside input
        &:before {
          position: absolute;
          content: '';
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: #17d4fe;
          -webkit-transition: 0.6s;
          transition: 0.6s;
        }
      }

      input {
        &:checked + .slider {
          background-color: white;
        }

        &:focus + .slider {
          box-shadow: none;
        }

        &:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }

      .slider.round {
        border-radius: 34px;
        outline: none;
        background-color: #17d4fe;

        &:before {
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    p {
      position: absolute;
      top: 68;
      margin: 0;
      padding-right: 15px;
      font-size: 30px;
    }
  }

  .index-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: #000000;
    max-width: 700px;
    border-radius: 15px;
    padding: 45px 0;

    @media (min-width: 375px) {
      margin: 0;
    }

    @media (min-width: 769px) {
      padding: 55px 0;
    }

    .clock {
      font-family: 'Orbitron', sans-serif;
      padding-bottom: 10px;
      font-size: 35px;
      line-height: 38px;
      letter-spacing: 2px;

      @media (min-width: 400px) {
        font-size: 40px;
        line-height: 44px;
      }

      @media (min-width: 769px) {
        font-size: 45px;
        line-height: 49px;
        letter-spacing: 5px;
      }
    }

    h1 {
      font-family: 'Poiret One';
      font-size: 2.5rem;
      letter-spacing: 3px;
      margin: 0;
      text-align: center;
      padding: 20px 0;

      @media (min-width: 375px) {
        padding: 20px 0 40px;
      }
    }

    .controls {
      text-align: center;
      padding: 0 10px;

      a {
        text-decoration: none;

        button {
          cursor: pointer;
          border: 2px solid #000000;
          border-radius: 10px;
          background-color: inherit;
          font-family: 'Poiret One';
          font-size: 25px;
          margin: 10px;
          padding: 10px 20px;
          letter-spacing: 3px;
          display: inline-block;
          width: 250px;
          font-weight: 800;
          text-transform: uppercase;

          @media (min-width: 769px) {
            width: 250px;
            letter-spacing: 4px;
          }

          &:focus {
            outline: none !important;
            box-shadow: none;
          }
        }
      }
    }
  }
}
