@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&family=Raleway&display=swap");
.dark-mode {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#ffffff));
  background: linear-gradient(0deg, #000000, #ffffff);
  color: white;
}

.dark-mode .index-wrapper .controls button {
  background-color: white;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#3d3e3d));
  background: linear-gradient(0deg, #000000, #3d3e3d);
  color: white;
}

body label {
  margin-right: 2rem;
  width: 6rem;
  height: 3.4rem;
  border-radius: 3rem;
  background-color: white;
}

body label input {
  opacity: 0;
  width: 0;
  height: 0;
}

body label input span {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  top: 1.23rem;
  right: 1.8rem;
  border-radius: 3rem;
  background-color: var(--btn-color);
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

body #slider.dark {
  right: 4.2rem;
}

body .index-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
}

body .index-wrapper .clock {
  color: #17d4fe;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 10px;
  font-size: 40px;
  letter-spacing: 2px;
}

@media (min-width: 376px) {
  body .index-wrapper .clock {
    font-size: 50px;
  }
}

@media (min-width: 769px) {
  body .index-wrapper .clock {
    font-size: 60px;
    letter-spacing: 10px;
  }
}

body .index-wrapper h1 {
  color: #17d4fe;
  font-family: 'Poiret One', cursive;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}

@media (min-width: 769) {
  body .index-wrapper h1 {
    font-size: 4rem;
    letter-spacing: 5px;
  }
}

body .index-wrapper .controls {
  text-align: center;
}

body .index-wrapper .controls button {
  border: 1px solid #17d4fe;
  border-radius: 10px;
  background-color: black;
  color: #17d4fe;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px 20px;
  letter-spacing: 3px;
  display: block;
  width: 300px;
}

@media (min-width: 581px) {
  body .index-wrapper .controls button {
    display: inline-block;
    margin: 0 5px;
    width: inherit;
    padding: 10px 30px;
  }
}

@media (min-width: 769px) {
  body .index-wrapper .controls button {
    padding: 10px 40px;
    margin: 0 5px;
    font-size: 25px;
    letter-spacing: 4px;
  }
}

body .index-wrapper .controls button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=index.css.map */