@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&family=Raleway&display=swap");
.dark-mode {
  color: #17d4fe;
}

.dark-mode .dark-mode-switch .switch .slider.round:before {
  border-radius: 50%;
  background-color: white;
}

.dark-mode .index-wrapper .controls button {
  color: #17d4fe;
  border-color: #17d4fe;
}

body {
  color: #17d4fe;
  margin: 0 auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: animatedBackground 5s linear infinite;
  animation: animatedBackground 5s linear infinite;
  background: url(../images/pattern.png);
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300px -300px;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300px -300px;
  }
}

body .dark-mode-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 15px;
}

body .dark-mode-switch .switch {
  display: inline-block;
  width: 60px;
  height: 35px;
  position: absolute;
  top: 30;
  outline: none;
}

body .dark-mode-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

body .dark-mode-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #17d4fe;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .dark-mode-switch .switch .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #17d4fe;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .dark-mode-switch .switch input:checked + .slider {
  background-color: white;
}

body .dark-mode-switch .switch input:focus + .slider {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .dark-mode-switch .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

body .dark-mode-switch .switch .slider.round {
  border-radius: 34px;
  outline: none;
  background-color: #17d4fe;
}

body .dark-mode-switch .switch .slider.round:before {
  border-radius: 50%;
  background-color: white;
}

body .dark-mode-switch p {
  position: absolute;
  top: 68;
  margin: 0;
  padding-right: 15px;
  font-size: 30px;
}

body .index-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#2f2f2f));
  background: linear-gradient(0deg, #000000, #2f2f2f);
  width: 98vw;
  height: 30vh;
  border-radius: 15px;
  margin-left: -25px;
}

@media (min-width: 375px) {
  body .index-wrapper {
    margin: 0;
    width: 90vw;
    height: 30vh;
  }
}

@media (min-width: 580px) {
  body .index-wrapper {
    width: 65vw;
    height: 25vh;
  }
}

body .index-wrapper .clock {
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 10px;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 2px;
}

@media (min-width: 400px) {
  body .index-wrapper .clock {
    font-size: 50px;
  }
}

@media (min-width: 769px) {
  body .index-wrapper .clock {
    font-size: 60px;
    letter-spacing: 10px;
  }
}

body .index-wrapper h1 {
  font-family: 'Poiret One', cursive;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}

@media (min-width: 769) {
  body .index-wrapper h1 {
    font-size: 4rem;
    letter-spacing: 5px;
  }
}

body .index-wrapper .controls {
  text-align: center;
}

body .index-wrapper .controls a {
  text-decoration: none;
}

body .index-wrapper .controls a button {
  cursor: pointer;
  border: 2px solid #17d4fe;
  border-radius: 10px;
  color: #17d4fe;
  background-color: inherit;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  margin: 10px auto;
  padding: 10px 20px;
  letter-spacing: 3px;
  display: block;
  width: 300px;
}

@media (min-width: 581px) {
  body .index-wrapper .controls a button {
    display: inline-block;
    margin: 0 5px;
    width: inherit;
    padding: 10px 40px;
  }
}

@media (min-width: 769px) {
  body .index-wrapper .controls a button {
    margin: 0 5px;
    letter-spacing: 4px;
  }
}

body .index-wrapper .controls a button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=index.css.map */