@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&family=Raleway&display=swap');

.dark-mode {
  background: url(../images/darkpattern.png);
  color: #17d4fe;

  .dark-mode-switch {
    .switch {
      input {
        &:checked + .slider {
          background-color: white;
        }
      }
      .slider.round {
        &:before {
          background-color: #000000;
        }
      }
    }
  }

  .timer-wrapper {
    // background: linear-gradient(180deg, #ffffff, #d4f2fd);

    h1 {
      color: #17d4fe;
    }

    .controls {
      button {
        color: #17d4fe;
        border-color: #17d4fe;
      }

      .stopwatch {
        color: #17d4fe;
      }
    }
  }
}

body {
  // animation files activated in heroku
  color: #17d4fe;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: animatedBackground 5s linear infinite;
  animation: animatedBackground 5s linear infinite;
  background: url(../images/pattern.png);

  @-webkit-keyframes animatedBackground {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -75px -75px;
    }
  }

  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -75px -75px;
    }
  }

  .dark-mode-switch {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;

    .switch {
      display: inline-block;
      width: 60px;
      height: 34px;
      position: absolute;
      top: 30;
      outline: none;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      // input
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #17d4fe;
        -webkit-transition: 0.6s;
        transition: 0.6s;

        // circle inside input
        &:before {
          position: absolute;
          content: '';
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: #17d4fe;
          -webkit-transition: 0.6s;
          transition: 0.6s;
        }
      }

      input {
        &:checked + .slider {
          background-color: #17d4fe;
        }

        &:focus + .slider {
          box-shadow: none;
        }

        &:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }

      .slider.round {
        border-radius: 34px;
        outline: none;

        &:before {
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    p {
      position: absolute;
      top: 68;
      margin: 0;
      padding-right: 15px;
      font-size: 30px;
    }
  }

  .stock-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 700px;
    border-radius: 15px;
    padding: 45px 0;
    margin: 0 15px;

    @media (min-width: 375px) {
      margin: 0;
      width: 90vw;
    }

    @media (min-width: 580px) {
      width: 75vw;
      padding: 40px 0;
    }

    @media (min-width: 769px) {
      padding: 60px 0;
      width: 65vw;
    }

    h1 {
      font-family: 'Poiret One';
      font-size: 2.5rem;
      letter-spacing: 3px;
      margin: 0;
      text-align: center;
      padding-bottom: 40px;

      @media (min-width: 769) {
        font-size: 4rem;
        letter-spacing: 5px;
      }
    }
  }
}
