@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&family=Raleway&display=swap');

.dark-mode {
  background: linear-gradient(180deg, #ffffff, #9e9e9e);
  color: #096f86;

  .index-wrapper {
    .controls {
      button {
        color: #096f86;
        border-color: #096f86;
      }
    }
  }
}

body {
  background: linear-gradient(0deg, #000000, #3d3e3d);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  .dark-mode-switch {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;

    .switch {
      display: inline-block;
      width: 60px;
      height: 34px;
      position: absolute;
      top: 30;
      outline: none;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      // input
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #17d4fe;
        -webkit-transition: 0.6s;
        transition: 0.6s;

        // circle inside input
        &:before {
          position: absolute;
          content: '';
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: #17d4fe;
          -webkit-transition: 0.6s;
          transition: 0.6s;
        }
      }

      input {
        &:checked + .slider {
          background-color: #17d4fe;
        }

        &:focus + .slider {
          box-shadow: none;
        }

        &:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }

      .slider.round {
        border-radius: 34px;
        outline: none;

        &:before {
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    p {
      position: absolute;
      top: 68;
      margin: 0;
      padding-right: 15px;
      font-size: 30px;
    }
  }

  .timer-wrapper {
    margin: 0 auto;
    text-align: center;

    h1 {
      color: #17d4fe;
      font-family: 'Poiret One', cursive;
      font-size: 2.5rem;
      letter-spacing: 3px;
      margin: 0;

      @media (min-width: 769) {
        font-size: 4rem;
        letter-spacing: 5px;
      }
    }

    .controls {
      text-align: center;

      button {
        cursor: pointer;
        border: 1px solid #17d4fe;
        border-radius: 10px;
        background-color: black;
        color: #17d4fe;
        font-family: 'Poiret One', cursive;
        font-size: 20px;
        margin: 10px auto;
        padding: 10px 20px;
        letter-spacing: 3px;
        display: block;
        width: 300px;

        @media (min-width: 581px) {
          display: inline-block;
          margin: 0 5px;
          width: inherit;
          padding: 10px 30px;
        }

        @media (min-width: 769px) {
          padding: 10px 40px;
          margin: 0 5px;
          font-size: 25px;
          letter-spacing: 4px;
        }

        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
      .stopwatch {
        color: #17d4fe;
        font-family: 'Noto Sans', sans-serif;
        padding-bottom: 20px;
        font-size: 70px;
      }
    }
  }
}
